# Dependencies
node_modules/

# Build outputs
dist*
lib
es
src/static/styles.css
storybook-static

# Testing
coverage*/

# Bun
.bun-cache/

# Misc
.DS_Store
.idea
.cache
*.tmp.*
*.pyc
*.pickle
docs
docs/_build/*
env*